<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
 <add name="DBConnStr" connectionString="server=10.10.26.42;database=PortalDB;uid=sa;password=lclMA5%d9;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Destination_Name" value="SE37" />
    <add key="RFC_Name" value="ZRFC_QC_GOODS_RECEIPT" />
    <add key="OutputTableName" value="ET_QC" />
    <add key="AppServerHost" value="10.10.25.23" />
    <add key="SystemNumber" value="01" />
    <add key="UserID" value="SYSVP001" />
    <add key="Password" value="pond@2015" />
    <add key="Client" value="900" />
    <add key="Language" value="EN" />
    <add key="Poolsize" value="5" />
    <add key="I_Days" value="8"/>
    <add key="logFilePath" value="C:\VendorPortalSchedulers\SchedulerLogs\QCScheduler.txt" />
   <add key="SchName" value="QC Scheduler" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>